In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../data/silver/master_table.csv")
df.head()

   Id_cliente fecha_efectiva  Id_tx   clase       valor
0         136     2021-03-03   6869  COMPRA  3495240.00
1         116     2020-11-29   4355  COMPRA   475800.00
2         116     2020-11-29   4355  COMPRA   350503.62
3         119     2020-09-29   5416  COMPRA   115775.00
4         121     2021-02-22   3249  COMPRA  1579898.00